body {
    font-family: Arial, sans-serif;
    padding: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dac6c6;
}
table{
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    padding: 10pt;
}
td{
    width: 80pt;
    height: 15pt;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    padding: 10pt;
    
}


